[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-allauth = "*"
django-bootstrap5 = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
boto3 = "*"
django-storages = "*"
django-bootstrap-icons = "*"

[dev-packages]

[requires]
python_version = "3.11"
