{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<DOCTYPE  html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}FixAuto{% endblock title %}</title>
	</head>
	<body>
	    {% if user.is_authenticated %}
			<p>Добро пожаловать, </p>
			<a href="{% url 'account_index' user.pk %}">{{ user.username }}</a>
			<a href="{% url 'account_logout' %}">SIGN OUT</a>
		{% else %}
			<a href="{% url 'account_login' %}">SIGN IN</a>
			OR
			<a href="{% url 'account_signup' %}">SIGN UP</a>
		{% endif %}
        {% load simple_menu %}
{% generate_menu %}
		{% for item in menus.menu %}
			<a href="{{ item.url }}">about</a>
		{% endfor %}
	    {% block content %}
	    {% endblock content %}
	</body>
	</html>